.teams {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  .teams-list {
    width: 50%;
  }
  .add-team {
    width: 50%;
  }
  .list-item {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .delete,
  .update {
    font-size: x-small;
  }
}
