.teams {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .teams-list {
    width: 48%;
    border: 2px solid;
    border-radius: 10px;
    .loading-text {
      padding: 20px;
    }
  }
  .add-team {
    padding: 20px 30px;
    border: 2px solid;
    border-radius: 10px;
    width: 48%;
  }
  .list-item {
    margin: 5px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    .team-name:hover {
      text-decoration: underline;
    }
  }
  .list-item-content {
    margin-bottom: 15px;
  }
  .delete {
    margin-left: 5px;
    font-size: x-small;
  }
}
