.disabled_button {
        background-color: #beb9b9;
            color: white;
}

.standard_button {
            background-color: #04AA6D;
                color: white;
}

.Grey_button {
    background-color: #beb9b936;
        color: white;
}

.danger_button{
        background-color: #f80808f8;
            color: white;
}
