<div class="row">
  <div class="col-md-8">
    <h3>Posts List</h3>

    <div>
      <button class="btn btn-primary" [routerLink]="['/posts/add']">
        Add Post
      </button>
    </div>

    <table
      id="posts"
      class="table table-striped"
      *ngIf="posts | async as postsData">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of postsData">
          <td>{{ post.id }}</td>
          <td>{{ post.title }}</td>
          <td>{{ post.description }}</td>
          <td>
            <button class="btn btn-primary" [routerLink]="['edit', post.id]">
              Update</button
            >&nbsp;
            <button
              class="btn btn-danger"
              id="delete-icon"
              (click)="onDeletePost(post.id)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-4">
    <router-outlet></router-outlet>
  </div>
</div>
