#posts {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  table td, #posts th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #posts tr:nth-child(even){background-color: #f2f2f2;}
  
  #posts tr:hover {background-color: #ddd;}
  
  #posts th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  #posts td{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #fff;
    color: black;
  }