<div class="row">
    <div class="col-md-8">
        <h3>Posts List</h3>
        <table id="posts" class="table table-striped" *ngIf="posts as postsData">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let post of postsData">
                    <td>{{ post.id }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.description }}</td>
                    <td>
                        <cdts-button [type]="'Standard'" [buttonType]="'Submit'" id="update-button" [label]="'Update'"
                            (click)="onUpdatePost(post.id)">
                        </cdts-button>
                        &nbsp;
                        <cdts-button [type]="'DangerButton'" [buttonType]="'Submit'" id="delete-button"
                            [label]="'Delete'" (click)="onDeletePost(post.id)">
                        </cdts-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>